<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191338076786-rkq435ineodab6q5t1ir7tk3gum3pvh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191338076786-rkq435ineodab6q5t1ir7tk3gum3pvh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAHifl3jWhVJO2HOkESXnNZhnI8BM5EIE</string>
	<key>GCM_SENDER_ID</key>
	<string>191338076786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scandit.mvp.bircle</string>
	<key>PROJECT_ID</key>
	<string>memosong-1510238213798</string>
	<key>STORAGE_BUCKET</key>
	<string>memosong-1510238213798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191338076786:ios:158bc45b0da3f9d85640eb</string>
	<key>DATABASE_URL</key>
	<string>https://memosong-1510238213798.firebaseio.com</string>
</dict>
</plist>